Source: kylin-nm
Section: utils
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>,
           xibowen <xibowen@kylinos.cn>
Build-Depends: debhelper-compat (=13),
               libcap-dev,
               libdbus-glib-1-dev,
               libgsettings-qt-dev,
               libgtk-3-dev,
               libkf5networkmanagerqt-dev (>= 5.36.0),
               libkf5windowsystem-dev,
               libkysdk-applications-dev(>= 1.2.0),
               libnm-dev,
               libnma-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libsecret-1-dev,
               libukcc-dev (>= 3.1.1+1217),
               libukui-common-dev,
               libukui-log4qt-dev,
               libx11-dev,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtchooser,
               qtscript5-dev,
               qttools5-dev-tools
Standards-Version: 4.6.1.0
Rules-Requires-Root: no
Homepage: https://gitee.com/openkylin/kylin-nm
Vcs-Git: https://gitee.com/openkylin/kylin-nm.git
Vcs-Browser: https://gitee.com/openkylin/kylin-nm

Package: kylin-nm
Architecture: any
Depends: network-manager (>=1.2.6), ${misc:Depends}, ${shlibs:Depends}
Description: Gui Applet tool for display and edit network simply
 Kylin NM is a Applet tool for managing network settings simply.
 It has beautiful UI and very comfortable to use.
 It's better work together with UKUI.

Package: kylin-nm-plugin
Architecture: any
Depends: libkylin-nm-base,
         network-manager (>=1.2.6),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Gui Applet plugin for display and edit network simply
 It has beautiful UI and very comfortable to use.
 It's better work together with UKUI.

Package: kylin-nm-plugin-dev
Architecture: any
Depends: kylin-nm-plugin, ${misc:Depends}, ${shlibs:Depends}
Description: Gui Applet plugin for display and edit network simply
 It has beautiful UI and very comfortable to use.
 It's better work together with UKUI.This is kylin-nm-plugin
 development file.

Package: libkylin-nm-base
Section: libs
Architecture: any
Depends: network-manager (>=1.2.6), ${misc:Depends}, ${shlibs:Depends}
Description: Gui Applet tool for display and edit network simply
 Kylin NM is a Applet tool for managing network settings simply.
 It has beautiful UI and very comfortable to use.
 It's better work together with UKUI.

Package: libkylin-nm-base-dev
Section: libdevel
Architecture: any
Depends: libkylin-nm-base, ${misc:Depends}, ${shlibs:Depends}
Description: Gui Applet tool for display and edit network simply
 Kylin NM is a Applet tool for managing network settings simply.
 It has beautiful UI and very comfortable to use.
 It's better work together with UKUI.This is libkylin-nm-base
 development file.
