[Unit]
Description=Kylin Network Manager System D-Bus Service
After=network.target dbus.service
Wants=network.target
Requires=dbus.service

[Service]
Type=dbus
BusName=com.kylin.network.qt.systemdbus
ExecStart=/usr/bin/kylin-nm-sysdbus
Restart=on-failure
RestartSec=5
User=root
Group=root

[Install]
WantedBy=multi-user.target

