[Desktop Entry]
Encoding=UTF-8
Name=Kylin VPN
Name[zh_CN]=麒麟VPN设置工具
Name[zh_HK]=麒麟VPN設置工具
Name[zh_TW]=麒麟VPN設置工具
Name[ug_CN]=كىرىن VPN تەڭشەك قورالى
Name[kk_KZ]=Кирин VPN баптау құралы
Name[ky_KG]=Кирин VPN орнотуу куралы
Name[mn_MN]=Кирин VPN тохируулах хэрэгсэл
Icon=gnome-dev-ethernet
Comment=Beautiful Network Config Applet
Comment[zh_CN]=麒麟VPN设置工具，提供查看和简单设置功能，拥有美观的界面和舒适的操作.
Keywords=applet;vpn;network;network-manager;
Exec=/usr/bin/kylin-vpn
StartupNotify=false
Terminal=false
Type=Application
OnlyShowIn=UKUI
X-UKUI-AutoRestart=true
NoDisplay=true
X-UKUI-Autostart-Phase=Application
