Package: kylin-nm-dbgsym
Package-Type: ddeb
Source: kylin-nm
Version: 1.0.4-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Installed-Size: 2150
Depends: kylin-nm (= 1.0.4-1)
Section: debug
Priority: optional
Description: debug symbols for kylin-nm
Build-Ids: d0ea598f653671ec7ae29f02cfe8a223bb295ffb
