Package: kylin-nm-dbgsym
Package-Type: ddeb
Source: kylin-nm
Version: 1.0.4-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Installed-Size: 2450
Depends: kylin-nm (= 1.0.4-1)
Section: debug
Priority: optional
Description: debug symbols for kylin-nm
Build-Ids: 258394723b9ee23bd6dc115b28785ad9ad9994c1
