Package: kylin-nm-dbgsym
Package-Type: ddeb
Source: kylin-nm
Version: 1.0.4-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Installed-Size: 1848
Depends: kylin-nm (= 1.0.4-1)
Section: debug
Priority: optional
Description: debug symbols for kylin-nm
Build-Ids: 467a421b0078726ed4c41474a9c500d735617d88
